# Supabase Configuration
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_ANON_KEY=your-anon-key-here
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
SUPABASE_DB_PASSWORD=your-database-password
# Session Pooler URL (Free plan compatible)
DATABASE_URL=postgresql://postgres:your-password@db.your-project-id.supabase.co:5432/postgres

# Environment
ENVIRONMENT=development

# Backend Configuration
BACKEND_URL=http://localhost:8000
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=True

# Frontend Configuration
FRONTEND_PORT=8050
# API_BASE_URL=http://127.0.0.1:8000   # ← Esto solo funciona fuera de Docker
# API_BASE_URL=http://backend:8000     # ← Cambia a esto para Docker Compose
API_BASE_URL=https://data-scientist-g3-1.onrender.com   # ← URL pública del backend en Render

# MLflow Configuration
MLFLOW_TRACKING_URI=file:./mlflow/mlruns
MLFLOW_DEFAULT_ARTIFACT_ROOT=./mlflow/artifacts